*{ /*quando nao pegar o 'body', troque para '*' para nao deixar espaço*/
    
    margin: 0px; /*tirar espaço, se não funcionar leia a primeira linha*/
}

/*todos*/
body{
    background-color: white;
}

#topo{
    width: 100%;
    height: auto;
    display:flex;
}

#direitaTopo{
    width: 70%;
    margin-left: 65%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#imgIf{
    width: auto;
    height: 50px;
}

#esquerdaTopo{
    width: 30%;
    margin-left: 2%;
}

header{
    background-color: rgb(73, 167, 123);
    width: 100%;
    height: 50px;
}

nav{
    color:white;
    width: 100%;;
    margin-left: auto;
    display: flex;
}

nav ul li{
    display: inline; /*deixar um do lado do outro*/
    color: white;
    padding-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

/*inicio*/
#centro{
    width: 80%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 200px;
}

#esquerda{
    margin-right: 20px;
}

#direita{
    width: 80%;
    height: auto;
    margin-left: 30px;
    margin-top: 50px;
    font-size: large;
}

#imgEu{
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/*Portifolio*/
#imgbox{
    display: flex;
    justify-content: center;
}

#centroPortifolio{
    width: 50%;
    margin-top: 50px;
    display: flex;
}

#quadro1Portifolio{
    background-color: white;
    width: 25%;
    height: 20%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 5px gray;
    margin-right: 30px;
}

#quadro2Portifolio{
    background-color: white;
    width: 25%;
    height: 20%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 5px gray;
    margin-left: 25px;
}

#centroPortifolio button{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

#iconsPortifolio{
    width: 40%;
    height: auto;
}

/*Contato*/
#centroContato{
    width: 50%;
    height: auto;
    margin:auto;
    margin-top: 50px;
    padding-left: 30px;
    padding-top: 30px;
}

#centroContato input[type = text], input[type = email]{
    width: 90%; 
    padding-top: 10px;
}

#centroContato textarea{
    width: 90%; 
    padding-top: 10px;
}

#centroContato input[type = submit]{
    width: 15%;
    height: auto;
    margin-left: 75%;
    background-color: rgb(73, 167, 123);
    border: none;
    border-radius: 5px;
    color:rgb(242, 255, 235);
    padding-top: 5px;
    padding-bottom: 5px;
}

.corCinza{
    color:gray;
}

.corCinzaLetraMaior{
    color: gray;
    font-size: larger;
}
